/nbproject/private/
/target/
/javadoc/

build/
jfreechart-*-javadocs.zip
jfreechart-*.zip
lib/jfreechart-*-src.jar
lib/jfreechart-*.jar

# Eclipse files #
/.classpath
/.project
/.settings

# Intellij Idea
.idea
